{% extends 'NKHintBundle::layout.html.twig' %}
{% block NKHintBundle_content %}
	<div class="card-container">
		{% if listeMatieres is defined %}
			{% for matiere in listeMatieres %}
				<a href="{{ path('nk_hint_subjectsPerLevel', { 'niveauId': niveau.id, 'matiereSelectionneeId': matiere.id}) }}">
					<div class="subject-card">
						<div class="subject-title">
							{{matiere.nomMatiere}}
						</div>
						<img src="{{asset('subject_icons/mathsIcon.jpg')}}" alt="Mathématiques" class="subject-img"> 
						<div class="subject-inf">
							Et là les informations sur la matière
						</div>
					</div>
				</a>
			{% endfor %}
		{% else %}
			<ul>
				{% for document in listeDocuments %}
							<li>{{document.nomDocument}}</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
{% endblock NKHintBundle_content %}

{% block NKHintBundle_aside %}

{% endblock NKHintBundle_aside %}