<div class="subject-card">
	<div class="subject-title">
		Mathématiques
	</div>
	<img src="{{asset('mathsIcon.jpg')}}" alt="Mathématiques" class="subject-img"> 
	<div class="subject-inf">
		Et là les informations sur la matière
	</div>
</div>