header, body,footer{
	overflow-x: hidden;
}
/*header*/
header{
	background-color: white;
}

footer{
	clear: both;
}

#logo{
	height: 115px;
	margin-bottom: 25px;
	margin-top: 22px;
	background: transparent url('../logo.png') scroll no-repeat center center;
	width: 24.999999999%;
	margin-left: 8.333333%;
	margin-right: 25%;
}

header div span{
	border-bottom-width:1px;
	border-bottom-style: solid;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 15%;
	height: 25px;
	width: 16%;
	
}

header div span:hover {
	border-bottom-width:4px;
	border-bottom-color: #208ac7;
	border-bottom-style: solid;
	font-size: 14px;
	font-weight: bold;
}

header div span a, header div span a:hover, header div span a:focus{
	text-decoration: none;
	color: black;
}

header div input{
	border-radius: 15px; 
	border-color: black !important;
	height: 30px;
	min-width: 50px; 
	max-width: 8%;
	transition: min-width 1s;
	margin-top: 50px;
	margin-bottom: 50px;
	position: absolute;
	right: 10px;
	margin-left: 5%;
	
}


header div input:focus{
	border-radius: 15px;
	min-width: 20%;
	margin-left: 5%;
	
}

#sup-header {
	background: #404852;
	height: 50px;
	position: relative;
}

#main-header{
	border-top-width: 7px;
	border-top-style: solid;
	border-top-color: #208ac7;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow: hidden;
}

#btn-login {
	float: right;
	margin-top: 8px;
	margin-bottom: 1px;
	margin-right: 30px; 
	font-weight: 700;
}
.login {
	border: 2px solid transparent;
}
.login:hover {
	background: none !important;
	color: green;
	font-weight: 700;
}
.register { 
	border: 2px solid;
	color: #6d7a8b;
}
.register:hover {
	background: none !important;
	color: #fff;
}

.logout {

}

@media (max-width: 748px){
	header{
		margin-top: 40px;
	}
}

@media (max-width: 730px) and (min-width: 550px){
	#main-header{
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	header div span{
		width: 26%;
		margin-right: 0px;	
	}

	#logo{
		margin-right: 20%;
	}
	
	header div input{
		
		margin-left:10%; 
	}
}


@media (max-width: 730px){

	#main-header{
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	header div input, header div input:focus{
		position: static;
		margin-top: 15px;
		margin-right: 0px;
		margin-left: 0px;
		min-width: 80%;
		margin-bottom: 5px;	
	}

	#logo{
		width: 66.66674%;
		margin-right: 0px;
		margin-left: 0px;
	}

	header div span{
		margin: 0px;	
	}
}

@media (max-width: 551px){

	header div span{
		width: 27%;	
	}

	header div input{
		margin-right: 0px;
		margin-left: 0px;	
	}

}

@media (max-width: 453px){

	header div span{
		width: 30%;
	}

	header div input{
		margin-right: 0px;
		margin-left: 0px;	
	}

}

@media (max-width: 405px){

	header div span{
		width: 50%;
	}

	header div input{
		margin-right: 0px;
		margin-left: 0px;	
	}

}

@media (max-width: 235px){

	header div span{
		width: 70%;
	}

	header div input{
		margin-right: 0px;
		margin-left: 0px;	
	} 

}



/*footer*/

#footer-container-general {
    background-color: #403438;
    border-top: 7px solid #f0eced;
    padding: 0 32px;
}
#footer-container-socialWidget {
	background-color: #33292d;
	border-bottom: 7px solid #404852;
}
#footer-container-socialWidget .footer-social {
    height: 41px;
    line-height: 41px;
    overflow: hidden;   
}
#footer-container-socialWidget .footer-social ul li {
	display: inline-block;
	margin-left: 8px;
}
#footer-container-socialWidget .footer-social ul li a {
	display: block;
	width: 32px;
}
#footer-container-socialWidget .footer-social ul li a:hover {
	transform: rotate(25deg);
}
#logo-footer{
	background: transparent url('../logo_footer.png') scroll no-repeat center center;
	height: 125px;
	width: 220px;
	margin-left: 60px;
	margin-right: 10px;
}
.youtube {
	background: transparent url('../social-photos/youtube_white.png') scroll no-repeat center center;
}
.facebook {
	background: transparent url('../social-photos/facebook_white.png') scroll no-repeat center center;
}
.twitter {
	background: transparent url('../social-photos/twitter_white.png') scroll no-repeat center center;
}
.column-1 {
	
}
.column-2 {
	border-left: 1px solid #33292d;
}
.column-2-text {
	margin: 21px 0 21px 0;
	color: #e5d7d3;
}