/*All body elements*/
header{
	background-color: white;
}

/*header*/
#logo{
	height: 100px;
	margin-bottom: 25px;
	margin-top: 22px;
	background-color: blue;
}

header div span {
	margin-top: 50px;
	margin-bottom: 50px;
}

header div+span{
	border-bottom-width:1px;
	border-bottom-style: solid;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	max-width: 150px;
	
}

header div+span:hover {
	border-bottom-width:4px;
	border-bottom-color: #208ac7;
	border-bottom-style: solid;
	font-size: 14px;
	font-weight: bold;
}

header div+span a{
	text-decoration: none;
	color: black;
}

header div+span a:hover{
	text-decoration: none;
	color: black;
}

header div+span+span{
	max-width: 8%;
}

header div+span+span input{
	border-radius: 15px; 
	min-width: 50px; 
	max-width: 100px;
	transition: min-width 1s;
	border-color:black;	
	position: absolute;
	top: 0; 
	right: 0;
}

header div+span+span input+i{
	position: absolute;
	top: 5px;
	right: 5px;
}
header div+span+span input:focus{
	border-radius: 15px;
	min-width: 300%;
	
}
#sup-header{
	border-top-width: 7px;
	border-top-style: solid;
	border-top-color: #208ac7;
}

#sub-header{
	height: 100px;
	border-bottom-width: 7px;
	border-bottom-style: solid;
	border-bottom-color: #208ac7;
	background-color: #eaeaea; 
}

@media (max-width: 770px){
	
}
#footer-container-general {
    background-color: #403438;
    border-top: 7px solid #f0eced;
    padding: 0 32px;
}
#footer-container-socialWidget {
	background-color: #33292d;
	border-bottom: 7px solid #208ac7;
}
#footer-container-socialWidget .footer-social {
    height: 41px;
    line-height: 41px;
    overflow: hidden;   
}
#footer-container-socialWidget .footer-social ul li {
	display: inline-block;
	margin-left: 8px;
}
#footer-container-socialWidget .footer-social ul li a {
	display: block;
	width: 32px;
}
#footer-container-socialWidget .footer-social ul li a:hover {
	transform: rotate(25deg);
}
.youtube {
	background: transparent url('../social-photos/youtube_white.png') scroll no-repeat center center;
}
.facebook {
	background: transparent url('../social-photos/facebook_white.png') scroll no-repeat center center;
}
.twitter {
	background: transparent url('../social-photos/twitter_white.png') scroll no-repeat center center;
}
.column-1 {
	
}
.column-2 {
	border-left: 1px solid #33292d;
}
.column-2-text {
	margin: 21px 0 21px 0;
	color: #e5d7d3;
}