<!DOCTYPE html>
<html>
    <head lang=fr>
        <meta charset="UTF-8" />
        <meta name="language" content="en">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
        <title>{% block title %}Hint{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" type="text/css"  href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    </head>
    <body>
 		ca fonctionne 
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
