<div class="row">
	<div id="footer-container-general" class="col-sm-12">
		<div class="column-1 col-sm-offset-1 col-sm-2">
			<p style="color: white;">ici le logo du site</p>
		</div>
		<div class="column-2 col-sm-9">
			<div class="column-2-text">QU'EST CE QUE Hint?<br>
				Hint en anglais signifie indice, mot très utilisé à l'Ecole Polytechnique de Thiès pour faire référence aux documents laissés par un élève-ingénieur à ses cadets. De ce fait, Cheikh Tidjane Konteye et Papa Momar Nokho ont décidé de créer ce site pour permettre aux élèves et étudiants de bénéficier des documents (cours, exercices, examens et concours) pouvant leur permettre une bonne réussite scolaire. <br>Les documents sont issus du système éducatif sénégalais.	
			</div>
		</div>
	</div>
	<div id="footer-container-socialWidget" class="col-sm-12">
		<div class="col-sm-offset-9 col-sm-3 footer-social">
			<ul>
				<li><a class="facebook" href="">&nbsp;</a></li>
				<li><a class="twitter" href="">&nbsp;</a></li>
				<li><a class="youtube" href="">&nbsp;</a></li>
			</ul>
		</div>
		
	</div>
</div>