<div class="row" id="sup-header">
	<div class="col-sm-1 col-md-1 col-lg-1"></div>
	<div id="logo" class="col-sm-3 col-md-3 col-lg-3">
		Hint Logo
	</div>
	<div class="col-sm-4 col-md-4 col-lg-4"></div>
	<span class="col-sm-2 col-md-2 col-lg-2" ><a href="#">ACCES NIVEAUX</a>
	</span>
	<span class="col-sm-1 col-md-1 col-lg-1">
		<input type="search" name="searchBar" placeholder="search">
		<i class="fa fa-search"></i>
	</span>
</div>
<div class="row" id="sub-header">

</div>