<div id="sup-header">
	<div id="logo" class="">
		Hint Logo
	</div>
	
	<span class="">
		<a href="#">ACCES NIVEAUX</a>
	</span>
	<input type="search" name="searchBar" placeholder="search" class="" id="sp">
	<i></i>
</div>
<div class="row" id="sub-header">

</div>