<div class="row">
	<div id="logo" class="col-sm-3">
		Hint Logo
	</div>
	<div class="col-sm-9">
		<span class="col-sm-4">Accés niveaux</span>
		<span class="col-sm-5">barre de recherche</span>
	</div>
</div>
<div class="row">

</div>