{% extends 'base.html.twig' %}

{% block content %}
<div class="body-container">
	<aside class="aside">
	    <ul>
	    	{% for cycle in listeCycles %}

	    		<li class="cycle">{{cycle.nomCycle}}</li>
	    		
		    		{% for niveau in listeNiveaux %}

		    			{% if niveau.cyle.id == cycle.id %} 

		    				<div class="subject-name">{{niveau.nomNiveau}}</div>

		    			{% endif %}

		    		{% endfor %}
	    		
	    		<br><br>

	    	{% endfor %}
	    </ul>
    </aside>
    <section class="main-section">
        <p>
            Ici les différents niveaux au centre 
        </p>
    </section>
    
</div> 
{% endblock content %}

{% block stylesheets %}

{% endblock %}
