{% extends 'base.html.twig' %}

{% block content %}
      <section>
        <p>
            Ici les différents niveaux au centre
        </p>
      </section>             
{% endblock content %}


{% block stylesheets %}

{% endblock %}
