{% extends 'base.html.twig' %}

{% block content %}
<div class="main-container">
	
    <section class="main-section-index">
        <p>
            Ici les actualités du site , des infos sur les études etc...
        </p>
    </section>
     {{ render(controller("NKHintBundle:Aside:asideDisplay")) }}
 
</div> 
{% endblock content %}

{% block stylesheets %}

{% endblock %}
