{% extends 'base.html.twig' %}


{% block body %}
    <div class="container-fluid">
        <header class="row">
            {% include 'default/header.html.twig' %}
        </header>

        <div>
            <p>
                Le corpsoiqjsdijfqsd<br>
                Le corpsoiqjsdijfqsd<br>
                Le corpsoiqjsdijfqsd<br>
                Le corpsoiqjsdijfqsd<br>
                Le corpsoiqjsdijfqsd<br>
                Le corpsoiqjsdijfqsd<br>
                Le corpsoiqjsdijfqsd<br>
                Le corpsoiqjsdijfqsd<br>
                Le corpsoiqjsdijfqsd<br>
                Le corpsoiqjsdijfqsd<br>
                Le corpsoiqjsdijfqsd<br>
                Le corpsoiqjsdijfqsd<br>
                Le corpsoiqjsdijfqsd<br>
                Le corpsoiqjsdijfqsd<br>

            </p>
        </div>
        
        <footer class="row">
        	{% include 'default/footer.html.twig' %}
        </footer>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
