{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <header class="row">
            {% include 'default/header.html.twig' %}
        </header>
        {% block content %}
                   
        {% endblock content %}
        {% block aside %}

        {% endblock aside %}
        <footer class="row">
        	{% include 'default/footer.html.twig' %}
        </footer>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
