{% extends 'base.html.twig' %}

{% block sub_header %}
        <div class="row" id="sub-header">
            <h1 class="title">Accueil</h1>
        </div>
{% endblock sub_header %}
{% block content %}
<div class="main-container">

    <section class="main-section-index">
        <p>
            Ici les actualités du site , des infos sur les études etc...
        </p>
    </section>
     {{ render(controller("NKHintBundle:Aside:asideDisplay")) }}
 
</div> 
{% endblock content %}
