{% extends 'base.html.twig' %}

{% block content %}
<div class="body-container">
	
    <section class="main-section">
        <p>
            Ici les différents niveaux au centre 
        </p>
    </section>
     {{ render(controller("NKHintBundle:Aside:asideDisplay")) }}
    
</div> 
{% endblock content %}

{% block stylesheets %}

{% endblock %}
