{% extends "@FOSUser/layout.html.twig" %}
{% block sub_header %}
        <div class="row" id="sub-header" style="margin-bottom: 40px;">
            <h1 class="title">S'inscrire</h1>
        </div>
{% endblock sub_header %}
{% block fos_user_content %}
	{% include "@FOSUser/Registration/register_content.html.twig" %}
	<script>
	    $(function() {
	        $('.register').hide();
	    });
	 </script>
{% endblock fos_user_content %}
