{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
	<div class="row under-header">
		<div class="container">
			<h1 class="title">S'inscrire</h1>
		</div>
	</div>
	{% include "@FOSUser/Registration/register_content.html.twig" %}
	<script>
	    $(function() {
	        $('.register').hide();
	    });
	 </script>
{% endblock fos_user_content %}
