{% extends 'NKHintBundle::layout.html.twig' %}
{% block NKHintBundle_content %}
	<div class="row">
		<div class="col-sm-offset-1 col-sm-2">
			sd:fgkfgksfgfs
		</div>
		<div class="col-sm-7">
			s;hvskefvjdfjdsv dfvb fdvb fvbc svb
		</div>
	</div>
	
{% endblock NKHintBundle_content %}