{% extends 'NKHintBundle::layout.html.twig' %}
{% block NKHintBundle_content %}
	<div class="row">
		<div class="col-sm-offset-1 col-sm-2">
			sd:fgkfgksfgfs
		</div>
		<div class="col-sm-7" style="height: 950px;">
			<embed src="test.pdf" width="100%" height="100%" />
		</div>
	</div>
{% endblock NKHintBundle_content %}