{% extends "@FOSUser/layout.html.twig" %}

{% block sub_header %}
        <div class="row" id="sub-header" style="margin-bottom: 40px;">
            <h1 class="title">Se connecter</h1>
        </div>
{% endblock sub_header %}
{% block fos_user_content %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}
    <script>
        $(function() {
            $('.login').hide();
        });
    </script>
{% endblock fos_user_content %}
